# Node.js .gitignore
# Dependency directories
node_modules/

# Exclude everything inside dist directory 
dist

# Local .terraform directories
**/.terraform/*
# .tfstate files
*.tfstate
*.tfstate.*
# Crash log files
crash.log

# Stores VSCode versions used for testing VSCode extensions
.vscode-test
.DS_Store
